* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilory;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 {
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 5vw;

}

#page3 {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 h1 {
    font-size: 35vw;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

#page1 h1 {
    font-size: 200px;
}

#page3 h1 {
    font-size: 200px;
}