* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilory;
}

html, body {
    height: 100%;
    width: 100%;
}

/* body{
    background-color: #111;
} */

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor{
    height:20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    font-size: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 9;
}

#image{
    height: 30vw;
    width: 40vw;
    background-color: red;
    position: relative;
}

#image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 10;
    
}