* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilory;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1423768164017-3f27c066407f?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: white;
}

#nav h2{
    font-size: 40px;

}

#nav i{
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
}

#full{
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.22);
    top: 0;
    right: -40%;
    backdrop-filter: blur(5px);
    padding: 210px 50px;
}

#full h4{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

#full i{
    position: absolute;
    top: 3%;
    left: 5%;
    font-size: 40px;
    padding: 5px;
    cursor: pointer;
}